rageml.xsd

<?xml version="1.0" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://markfrimston.co.uk/rageml"
		xmlns:rg="http://markfrimston.co.uk/rageml"
		elementFormDefault="qualified">

	<element name="comic">
		<complexType>
			<sequence minOccurs="1" maxOccurs="unbounded">
				<element ref="rg:panel" />
			</sequence>
			<anyAttribute />
		</complexType>
	</element>
	
	<element name="panel">
		<complexType>
			<sequence>
				<element ref="rg:narration" minOccurs="0" maxOccurs="1" />
				<group ref="rg:unordered-characters" minOccurs="0"/>
				<choice minOccurs="0" maxOccurs="unbounded">
					<choice>
						<element ref="rg:a-reply" />
						<element ref="rg:b-reply" />
						<element ref="rg:c-reply" />
						<element ref="rg:d-reply" />
						<element ref="rg:e-reply" />
					</choice>
					<group ref="rg:faces" />
				</choice>
				<element ref="rg:narration" minOccurs="0" maxOccurs="1" />
			</sequence>
			<anyAttribute />
		</complexType>
	</element>
	
	<element name="narration" type="rg:attr-token" />
	
	<element name="a" type="rg:character" />
	<element name="b" type="rg:character" />
	<element name="c" type="rg:character" />
	<element name="d" type="rg:character" />
	<element name="e" type="rg:character" />
	
	<element name="a-reply" type="rg:attr-token" />
	<element name="b-reply" type="rg:attr-token" />
	<element name="c-reply" type="rg:attr-token" />
	<element name="d-reply" type="rg:attr-token" />
	<element name="e-reply" type="rg:attr-token" />

	<element name="better-than-expected" type="rg:attr-token" />
	<element name="challenge-accepted" type="rg:attr-token" />	
	<element name="derp" type="rg:attr-token" />
	<element name="determined" type="rg:attr-token" />
	<element name="dude-come-on" type="rg:attr-token" />
	<element name="ffff" type="rg:attr-token" />
	<element name="forever-alone" type="rg:attr-token" />
	<element name="fucking-kidding" type="rg:attr-token" />
	<element name="fuck-yea" type="rg:attr-token" />
	<element name="herp" type="rg:attr-token" />
	<element name="joy" type="rg:attr-token" />
	<element name="lol" type="rg:attr-token" />
	<element name="me-gusta" type="rg:attr-token" />
	<element name="n_n" type="rg:attr-token" />
	<element name="okay" type="rg:attr-token" />
	<element name="poker-face" type="rg:attr-token" />
	<element name="rage" type="rg:attr-token" />
	<element name="suspicious" type="rg:attr-token" />
	<element name="thinking" type="rg:attr-token" />
	<element name="trollface" type="rg:attr-token" />
	<element name="y-u-no" type="rg:attr-token" />

	<!-- TODO -->
	<elementt name="silent" type="token" />
	
	<!-- ====================================================== -->


	<complexType name="attr-token">
		<simpleContent>
			<extension base="token">
				<anyAttribute />
			</extension>
		</simpleContent>
	</complexType>
	
	<complexType name="character">
		<group ref="rg:faces" minOccurs="0" maxOccurs="1" />
		<attribute name="label" type="token" />
		<attribute name="sex">
			<simpleType>
				<restriction base="token">
					<pattern value="m|f" />
				</restriction>
			</simpleType>
		</attribute>
		<anyAttribute />
	</complexType>
	
	<group name="faces">
		<choice>
			<element ref="rg:derp" />
			<element ref="rg:trollface" />
			<element ref="rg:rage" />
			<element ref="rg:challenge-accepted" />
		</choice>
	</group>
	
	<!-- Rediculous expansion to allow up to one of each of 
		a-e in any order, combined with other elements -->
	<group name="unordered-characters">
		<choice>
    		<sequence>
        		<element ref="rg:a" />
        		<choice minOccurs="0">
            		<sequence>
                		<element ref="rg:b" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:c" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:d" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:e" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
        		</choice>
    		</sequence>
    		<sequence>
        		<element ref="rg:b" />
        		<choice minOccurs="0">
            		<sequence>
                		<element ref="rg:a" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:c" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:d" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:e" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
        		</choice>
    		</sequence>
    		<sequence>
        		<element ref="rg:c" />
        		<choice minOccurs="0">
            		<sequence>
                		<element ref="rg:a" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:b" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:d" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:e" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
        		</choice>
    		</sequence>
    		<sequence>
        		<element ref="rg:d" />
        		<choice minOccurs="0">
            		<sequence>
                		<element ref="rg:a" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:b" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:c" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:e"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:e" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:e" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:e" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
        		</choice>
    		</sequence>
    		<sequence>
        		<element ref="rg:e" />
        		<choice minOccurs="0">
            		<sequence>
                		<element ref="rg:a" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:b" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:c" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:d"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:d" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:d" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
            		<sequence>
                		<element ref="rg:d" />
                		<choice minOccurs="0">
                    		<sequence>
                        		<element ref="rg:a" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:b" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:c"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:c" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                    		<sequence>
                        		<element ref="rg:c" />
                        		<choice minOccurs="0">
                            		<sequence>
                                		<element ref="rg:a" />
                                		<element ref="rg:b"  minOccurs="0"/>
                            		</sequence>
                            		<sequence>
                                		<element ref="rg:b" />
                                		<element ref="rg:a"  minOccurs="0"/>
                            		</sequence>
                        		</choice>
                    		</sequence>
                		</choice>
            		</sequence>
        		</choice>
    		</sequence>
		</choice>
	</group>
	
</schema>
